<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- 分发方式: development / ad-hoc / app-store / enterprise -->
	<key>method</key>
	<string>development</string>

	<!-- 团队 ID，构建时通过参数传入，这里留空 -->
	<key>teamID</key>
	<string></string>

	<!-- 自动签名 -->
	<key>signingStyle</key>
	<string>automatic</string>

	<!--  stripping Swift 符号 -->
	<key>stripSwiftSymbols</key>
	<true/>

	<!-- 编译 Bitcode -->
	<key>compileBitcode</key>
	<false/>

	<!-- 上传符号 -->
	<key>uploadSymbols</key>
	<true/>

	<!-- 生成的 IPA  thinning -->
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
